@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('http://fonts.cdnfonts.com/css/montserrat');
                

#title {
    background-color: crimson;
    color: white;
}

body {
    font-family: 'Montserrat';
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    padding-top: 13%;
    margin-left: 10%;
}

h2 {
    line-height: 2.5;
}

p{
    color: #8f8f8f;
}

.container-padding{
    padding: 20px;
    height: 650px;
} 

.button{
    margin-left: 10%;
}


.dog-img {
    padding: 30px 0 0 0;
    margin: 0;
    width: 250px;
    transform: rotate(20deg);
}

#features {
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 15%;
    padding-right: 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: crimson;
}

#testimonials {
    text-align: center;
    background-color: rgb(238, 55, 92);
    color: white;
}

.carousel-item {
    padding: 7% 15%;
}
.cards {
    width: 70%;
    padding-top: 30px;
}

.testimonial-img {
    width: 20%;
    margin: 20px;
    border-radius: 100%;
}

#press {
    background-color: rgb(238, 55, 92);
    padding-bottom: 3%;
    text-align: center;
}

.logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.love {
    height: 250px;
    width: 200px;
    border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
    .dog-img {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: rotate(0deg);
      }
      #title {
          height: 800px;
      }
}

.dog-prices {
    margin-left: 8%;
    padding-top: 5%;
}

#cta {
    text-align: center;
    padding-top: 3%;
}

.Last {
    text-align: center;
}

#last {
    margin-left: 40%;
}

.py-5 {
    background-color: rgb(238, 55, 92);
    color: white;
    margin-top: 1%;
}